<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitiread.view"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_PROFILE" />
	<uses-permission android:name="android.permission.READ_PROFILE"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<uses-permission android:name="android.permission.VIBRATE"/>
  	<uses-permission android:name="android.permission.FLASHLIGHT"/>
  	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/> 
  	<uses-permission android:name="android.permission.REORDER_TASKS"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hitiread.view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hitwwq.scanner.ScanAdd"
            android:label="@string/scan" >
        </activity>
        <activity
            android:name="com.hitiread.view.BookView"
            android:label="@string/bookinfo" >
        </activity>
        <activity
            android:name="com.hitwwq.scanner.ScannerActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/scan" >
        </activity>
        <activity
            android:name="com.hitiread.view.StartReading"
            android:label="@string/read_start" >
        </activity>
        <activity
            android:name="com.hitiread.view.EndReading"
            android:label="@string/end_reading" >
        </activity>
        <activity
            android:name="com.hitiread.view.NoteActivity"
            android:label="@string/read_note" >
        </activity>
        <activity
            android:name="com.hitiread.view.NoteShared"
            android:label="@string/read_shared" >
        </activity>
        <activity
            android:name="com.hitiread.view.TagView"
            android:label="@string/classify" >
        </activity>
        <activity 
            android:name="com.hitiread.view.InterestActivity"
            android:label="@string/interest" >
            
        </activity>
        
    </application>
</manifest>
